
@import url("http://fonts.googleapis.com/css?family=Lato:300|Grand+Hotel|Inconsolata");

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
}

h2 {
  font-family: 'Grand Hotel';
  font-weight: normal;
  font-size: 31px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

h3 {
  @extend h1;
  line-height: 24px !important;
  font-size: 24px !important;;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

.box-sample {
  min-height: 300px !important;
}

.table-sample {
  border-collapse: collapse;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-sample td {
  padding: 0;
  margin: 0;
}

.relative {
  display: relative;
  z-index: 1;
}

#logo {
  width: 100px;
  height: 100px;
  z-index: 100;
  display: absolute;
  left: 100px;
  top: 50px;
  float: left;
}

.inputForm {
  clear: right;
  display: inline-block !important;
  box-sizing: auto !important;
  width: auto !important;
  font-family: 'Inconsolata', serif;
  text-align: center;
}

.inline {
  display: inline-block !important;
}

.font-code {
  font-family: 'Inconsolata', serif;
  font-size: 16px;
}

.font-code-label {
  @extend .font-code;
  margin-top: 20px;
}

.block-label-parent {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
}

.font-label {
  font-family: 'Lato', sans-serif;
  //font-family: 'Inconsolata', serif;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  padding: 20px;
}

.block-color {
  position: relative;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.smaller-vertical-spacer {
  width: 100%;
  height: 80px;

  @media #{$medium-up} {
    height: 120px;
  }
}

.small-vertical-spacer {
  width: 100%;
  height: 100px;

  @media #{$medium-up} {
    height: 200px;
  }
}



.height-third-medium-up {
  width: 100%;

  @media #{$medium-up} {
    height: 30vh;
  }

  @media #{$small-only} {
    height: 5vh;
  }
}

.media-content {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.height-full {
  width: 100%;
  height: 100vh;
}

.height-third {
  width: 100%;
  height: 33.35%;
}

.box-color {
  width: 75px;
  height: 75px;
  // background-color: #222;
}

.color-a {
  background-color: #787878;
}

.color-b {
  background-color: #888888;
}

.color-c {
  background-color: #989898;
}

#color-one-block {
  background-color: #787878;
}

#color-two-block {
  background-color: #888888;
}

#color-three-block {
  background-color: #989898;
}

.color-tohsv-info,
.color-torgb-info {
  text-align: left !important;
}

.frameDiv {
  height: 500px;
  margin-bottom: 25px;
  overflow: hidden;
}
